body{

}

.navbar-background{
background-color:rgb(88, 88, 224);
}
.navbar-background_2{
background-color: rgb(177, 177, 222);
}
.main-content{
    height: 500px;
    background-color: rgb(100, 149, 237);
}
